@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&family=Outfit:wght@300;400;600&display=swap');

*, *::before, *::after {
box-sizing: border-box;
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
height: 100%;
/* font-family: 'Open Sans', sans-serif; */
--white:hsl(0, 0%, 100%);
--black:hsl(0, 0%, 0%);
--dark-gray:hsl(0, 0%, 55%);
--very-darkgray:hsl(0, 0%, 41%);
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
font-size: 15px;
font-family: 'Josefin Sans', sans-serif;  

}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
font-family: 'Josefin Sans', sans-serif;  

}
p{
    overflow-wrap: break-word;
font-family: 'Alata', sans-serif;

  }