.footer{
    background-color: var(--black);
    margin-top:3rem ;
    padding: 3rem 5rem;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul  {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.header nav ul li{
    list-style: none;
    position: relative;
    cursor: pointer;
}
.header nav ul li::after{
    content: '';
    height: 2px;
    width: 50%;
    background-color: var(--white);
    display: block;
    position: absolute;
    bottom: -8px;
    left: 8px;
text-align: center;
opacity: 0;
}

.header nav ul li:hover::after{
    opacity: 1;
}

.socials{
    text-align: right;
}

.social{
    display: flex;
    gap: 1rem;
    align-items:center;
    justify-content: right;
}

.copyright{
    margin-top: 1rem;

}
.copyright{
    color: var(--dark-gray);
}

.socialIcon{
    cursor: pointer;
    position: relative;

}
.socialIcon::after{
    content: '';
    height: 2px;
    width: 50%;
    background-color: var(--white);
    display: block;
    position: absolute;
    bottom: -10px;
    left: 3px;
/* text-align: center; */
/* opacity: 0; */
}

/* .socialIcon:hover::after{
    opacity: 1;
} */

@media(max-width:640px){
    .footer{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 3rem 2rem ;
    }
    .header nav ul{
        flex-direction: column;
        align-items: center;
    }
    .social{
        place-content: center;
    }
    .copyright{
        text-align: center;
    }
}